*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache

.idea
/.gradle/
/.project/
/.settings/
.gradle
.project
.settings
.gitlab-ci.yml
/build/
gradlew*
gradle
.DS_Store
**/.DS_Store
*.class
**/*.iml
**/*.swp
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
.orig
package-lock.json

/node_modules/
/bower_components/
liferay-theme.json
/coverage/

/src/bgp-style/documentation
