<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" >MITCH-APP<span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
                Administración
            </a>
            <div class="dropdown-menu sm-menu">
                <a class="dropdown-item" >Clientes</a>
                <a class="dropdown-item" >Staff</a>
                <a class="dropdown-item" >Sucursales</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:mitchellcontreras@gmail.com?subject=Propuesta de trabajo">
                Contactanos
            </a>
        </li>
      </ul>
    </div>
  </nav>