.idea
/.gradle/
/.project/
/.settings/
.gradle
.project
.settings
.gitlab-ci.yml
/build/
gradlew*
gradle
.DS_Store
**/.DS_Store
*.class
**/*.iml
**/*.swp
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
.orig
package-lock.json

/node_modules/
/bower_components/
liferay-theme.json
/coverage/

/src/bgp-style/documentation
