<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand">Project</a>
  <div class="dropdown" style="margin-left: 50px;">
    <button class="btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false">
      Especificación
    </button>
  </div>
  <div class="dropdown" style="margin-left: 50px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Conceptualización
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Tarea 1</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 2</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 3</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 4</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 5</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 6</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 7</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 8</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 9</br>otra descriptcion</a>
      <a class="dropdown-item" href="#">Tarea 10 1on</br>otra descriptcion</a>
    </div>
  </div>
  <div class="dropdown" style="margin-left: 50px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Implementación
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Exportar</br>otra descriptcion</a>
    </div>
  </div>
</nav>
